@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: black;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}

p#story {
    color: red;
    border-radius: 3rem / 1rem;
    background: cornsilk;
    width: 30%;
    min-height: 10rem;
    margin: auto;
}

small {
    color: yellow;
}

button {
    background-color: aquamarine;
    color: navy;
    font-weight: bold;
}

button:hover {
    background-color: navajowhite;
    color: red;
}
